/*Reset*/
a,abbr,acronym,address,applet,article,aside,audio,b,blockquote,big,body,center,canvas,caption,cite,code,command,datalist,dd,del,details,dfn,dl,div,dt,em,embed,fieldset,figcaption,figure,font,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,keygen,label,legend,li,meter,nav,object,ol,output,p,pre,progress,q,s,samp,section,small,span,source,strike,strong,sub,sup,table,tbody,tfoot,thead,th,tr,tdvideo,tt,u,ul,var{background:transparent;font-size:100%;border:0 none;margin:0;padding:0;vertical-align:baseline;}body{display:flex;flex-flow:column;}

/*Général*/
body{
    background-color: #fff;
    position: relative;
}

/*Navigation*/
nav{
    width: 100%;
    background-color: #A7B3A1;
    height: 3em;
    display: flex;
    justify-content: center;
}
nav h1{
    margin: auto 1em;
}
nav h1 a{
    font-size: 25px;
    text-decoration: none;
    color: #000;
    
}
nav h1:hover, nav li:hover{
    color: #fff;
}
nav ul{
    margin: auto 1em;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
nav li{
    list-style: none;
    font-size: 20px;
    padding: 0 1em;
    display: flex;
    flex-direction: row;
    align-items: center;
}
nav li a {
    text-decoration: none;
    color: #000;
    display: block;
}
nav li a:hover{
    color: #fff;
}
#iconlog{
    width: 1em;
    margin-right: 1em;
    
}
#iconlog:hover{
    color: #fff;
}
#login{
    font-size: 20px;
    text-decoration: none;
    color: #000;
    margin: auto 1em auto 0em;
    padding: 0;
}
#login:hover{
    color: #fff;
}
/*Header*/
header{
    height: 23em;
    margin: 2em;
}
header img{
    width: 40%;
    height: 60%;
    margin: auto;
    display: flex;
    justify-content: center;
}
/*Chapitre*/
#chapitre{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 80%;
    margin: 2em auto;
    position: relative;
}
.chap{
    width: 25%;
    border: 1px solid #A7B3A1;
    margin: 1em;
}
.chap h1, .chap p{
    display: flex;
    justify-content: center;
    padding: 0.2em;
}
#titleChapter{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    margin: 1em auto;
    border: 1px solid #A7B3A1;
    width: 10%;
}
/*Page du chapitre & les commentaires*/
/*Page chapitre*/
body{
    display: flex;
    flex-direction: column;
}
/*Navigation*/
#Chapitres{
    color: #fff;
}
/*Header*/
header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 50%;
    height: auto;
}
header h1{
    font-size: 40px;
}
header p{
    font-size: 20px;
}
/*Chapitre complet*/
#completchap{
    display: flex;
    justify-content: center;
    position: relative;
    margin: auto;
    border: 1px solid #A7B3A1;
    width: 80%;
    height: 500px;
    margin: 2em auto;
}
#completchap p{
    margin: 1em;
}
/*Message*/
#message{
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    position: relative;
    margin: 2em auto 5em auto;
    width: 80%;
    height: auto;
    border: 1px solid #A7B3A1;
    
}
#message .com{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    height: 80%;
    padding: 1em;
    margin: auto;
    align-items: center;
}
.com h2{
    font-size: 20px;
    margin-bottom: 0.5em;
}
.com textarea{
    width: 100%;
    height: 100px;
    border: 1px solid #A7B3A1;
}
.com input{
    position: relative;
    bottom: 0;
    width: 30em;
    height: 2em;
    background-color: #A7B3A1;
    color: #fff;
    border: 1px solid #A7B3A1;
    border-radius: 1em;
}
/*Commentaires*/
#commentaires{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 80%;
    height: auto;
    margin: 1em auto;
}
.excom{
    border: 2px solid #A7B3A1;
    border-radius: 1em;
    margin: 0.5em auto;
    width: 80%;
    height: auto;
    display: flex;
    justify-content: space-around;
}
.excom p, .excom span, .excom a{
    padding: 0.5em;
}
.excom img{
    width: 1.5em;
    height: 1.5em;
}
/*Page pour se log*/
/*General*/
body{
    background-color: #f7fff2;
}
#login{
    color: #fff;
}
/*Section log*/
#log{
    display: flex;
    justify-content: center;
    flex-direction: row;
    background-color: #A7B3A1;
    margin-top: 10em;
    height: 300px;
}
/*Connexion div*/
.login{
    display: flex;
    flex-direction: column;
    margin: 2em 3em;
    
}
.login h2{
    font-size: 25px;
}
.login p{
    font-size: 15px;
}
input{
    margin: 1em 0;
    width: 25em;
    height: 3em;
    border: 1px solid #A7B3A1;
    border-radius: 0.5em;
}
.button{
    border: 1px solid #f7fff2;
    background-color: #f7fff2;
    border-radius: 0.5em;
    height: 2em;
}

/*Page administration start*/
#admin{
    display: flex;
    flex-direction: row;
}
#listChapters, #listComments{
    width: 50%;
}
#listChapters{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#formChapter{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    width: 80%;
}
#formChapter input, #formChapter textarea{
    width: 100%;
}
.tox-tinymce{
    width: 100%;
}
/*Page administration end*/
/*General*/
body{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    margin: 0;
}

a{
    text-decoration: none;
    color: #000;
}
/*Nav*/
#decon{
    display: flex;
    flex-direction: row;
}
/*Header*/
header{
    display: flex;
    justify-content: center;
    background-color: #A7B3A1;
}
header h1{
    font-size: 30px;
}

/*Footer*/
footer{
    background-color: #A7B3A1;
    
    bottom: 0;
    width: 100%;
    height: 2em;
    display: flex;
    justify-content: center;
    margin-top: 2em;
}
footer p{
    margin: auto;
    font-size: 15px;
    font-weight: 800;
}
