/*Page chapitre*/
body{
    display: flex;
    flex-direction: column;
}
/*Navigation*/
#Chapitres{
    color: #fff;
}
/*Header*/
header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 50%;
    height: auto;
}
header h1{
    font-size: 40px;
}
header p{
    font-size: 20px;
}
/*Chapitre complet*/
#completchap{
    display: flex;
    justify-content: center;
    position: relative;
    margin: auto;
    border: 1px solid #A7B3A1;
    width: 80%;
    height: 500px;
    margin: 2em auto;
}
#completchap p{
    margin: 1em;
}
/*Message*/
#message{
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    position: relative;
    margin: 2em auto 5em auto;
    width: 80%;
    height: auto;
    border: 1px solid #A7B3A1;
    
}
#message .com{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    height: 80%;
    padding: 1em;
    margin: auto;
    align-items: center;
}
.com h2{
    font-size: 20px;
    margin-bottom: 0.5em;
}
.com textarea{
    width: 100%;
    height: 100px;
    border: 1px solid #A7B3A1;
}
.com input{
    position: relative;
    bottom: 0;
    width: 30em;
    height: 2em;
    background-color: #A7B3A1;
    color: #fff;
    border: 1px solid #A7B3A1;
    border-radius: 1em;
}
/*Commentaires*/
#commentaires{
    position: relative;
    display: flex;
    width: 80%;
    height: auto;
    background-color: #A7B3A1;
}